<form [formGroup]="formCustomer">
  
    <div class="row">
        <div class="col">
            <label for="name" class="form-label">{{'Booking.NameCustomer' | translate}}</label>
            <input type="text" formControlName="name" class="form-control" id="name">
            <div *ngIf="formCustomer.controls['name']?.invalid && formCustomer.controls['name']?.touched" class="text-danger">
              <small *ngIf="formCustomer.controls['name']?.errors?.['required']">{{ 'Validations.FieldRequired' | translate }}</small>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="phone" class="form-label">{{'Booking.PhoneCustomer' | translate}}</label>
            <input type="text" formControlName="phone" class="form-control" id="phone">
            <div *ngIf="formCustomer.controls['phone']?.invalid && formCustomer.controls['phone']?.touched" class="text-danger">
              <small *ngIf="formCustomer.controls['phone']?.errors?.['required']">{{ 'Validations.FieldRequired' | translate }}</small>
            </div>
        </div>
    </div>

</form>
  
  
  
  
  
  