
# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
/projects/libs/**/node_modules
npm-debug.log
yarn-error.log

# Miscellaneous
/.angular/cache

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System files
.DS_Store
Thumbs.db

# Package
package-lock.json
