.input-color {
    width: 3rem !important;
    height: calc(1.5em + .75rem + calc(var(--bs-border-width)* 2)) !important;
    padding: .375rem !important;
}

.custom-event {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Asegura que ocupe todo el espacio del evento */
    text-align: center;
}

.disabled-calendar {
    position: relative;
}
  
.disabled-calendar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo semitransparente */
    z-index: 10; /* Asegura que está encima del calendario */
    pointer-events: all; /* Bloquea todas las interacciones */
}
  



  