<form [formGroup]="formCourt" class="row g-3">
  <div class="text-end">
    <button *ngIf="actionState != 3" class="btn btn-success me-2" (click)="saveCourt()">{{ 'Button.Save' | translate }}</button>
    <button class="btn btn-outline-secondary" (click)="cancelCourt()">{{ 'Button.Cancel' | translate }}</button>
  </div>
  <div class="col-md-8">
    <label for="name" class="form-label">{{'Court.Name' | translate}}</label>
    <input type="text" formControlName="name" class="form-control" id="name">
    <div *ngIf="formCourt.controls['name']?.invalid && formCourt.controls['name']?.touched" class="text-danger">
      <small *ngIf="formCourt.controls['name']?.errors?.['required']">{{ 'Validations.FieldRequired' | translate }}</small>
    </div>
  </div>
  <div class="col-md-2">
    <label for="exampleColorInput" class="form-label">{{'Court.EventColor' | translate}}</label>
    <input type="color" formControlName="color" class="form-control form-control-color input-color" id="exampleColorInput" value="#563d7c" title="Choose your color">
  </div>
  <div class="col-md-2">
    <div class="form-check">
        <input type="checkbox" formControlName="isActive" class="form-check-input" id="isActive">
        <label class="form-check-label" for="isActive">
        {{ formCourt.controls['isActive'].value ? ('Commons.Active' | translate) : ('Commons.Inactive' | translate) }}
        </label>
    </div>
  </div>
  <div class="col-12">
      <label for="description" class="form-label">{{'Court.Description' | translate}}</label>
      <textarea formControlName="description" class="form-control" id="description" rows="3"> </textarea>
  </div>
  <div class="col-12">
    <div ngClass="{{styleDisable}}">
        <full-calendar [options]="calendarOptions" #calendar></full-calendar>      
    </div>
  </div>
</form>

  <!-- Modal precio -->
<div class="modal fade" id="priceModal" tabindex="-1" aria-labelledby="eventModalLabel" #priceModal>
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="eventModalLabel">{{ 'Court.PricePerHour' | translate }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formPrice">

            <div class="mb-2">
              <label for="price" class="form-label">{{ 'Court.Price' | translate }}</label>
              <input type="text" formControlName="price" class="form-control" id="price" prefix="$ " mask="separator.2" thousandSeparator="." decimalMarker=",">
              <div *ngIf="formPrice.controls['price']?.invalid && formPrice.controls['price']?.touched" class="text-danger">
                <small *ngIf="formPrice.controls['price']?.errors?.['required']">{{ 'Validations.FieldRequired' | translate }}</small>
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="savePrice()">{{ 'Button.Save' | translate }}</button>
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{{ 'Button.Cancel' | translate }}</button>        
        </div>
      </div>
    </div>
  </div>
