<div class="card">
    <div class="card-header">
        <div class="card-title">{{ 'Court.CourtList' | translate }}</div>
    </div>
    <div class="card-body">
        <table class="table table-head-bg-success">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ 'Court.Court' | translate }}</th>
                    <th scope="col">{{ 'Commons.Action' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let court of courts, let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ court.name }}</td>
                    <td>Detalle - Editar - Eliminar</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
