<table class="table table-hover">
    <thead class="table-light">
      <tr>
        <th scope="col">{{ 'company' | translate }}</th>
        <th scope="col">{{ 'userAdmin' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a class="nav-link" [routerLink]='["/company/company/1"]'>Empresa 1</a></td>
        <td>Admin 1</td>
      </tr>
      <tr>
        <td>Empresa 2</td>
        <td>Admin 2</td>
      </tr>
      <tr>
        <td>Empresa 3</td>
        <td>Admin 3</td>
      </tr>
      <tr>
        <td>Empresa 4</td>
        <td>Admin 4</td>
      </tr>
      <tr>
        <td>Empresa 5</td>
        <td>Admin 5</td>
      </tr>
    </tbody>
  </table>