<div class="clearfix">
  <button type="button" class="btn btn-primary float-end mt-2 mb-2" (click)="create()">{{ 'createCompany' | translate }}</button>
</div>

<table class="table table-hover table-bordered">
  <thead class="table-light">
    <tr>
      <th scope="col">{{ 'company' | translate }}</th>
      <th scope="col">{{ 'address' | translate }}</th>
      <th scope="col">{{ 'identification' | translate }}</th>
      <th scope="col">{{ 'userAdmin' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let company of listCompany">
      <td><a class="nav-link" [routerLink]='["/company/company/", company._id]'> {{ company.name }} </a></td>
      <td>{{ company.address }}</td>
      <td>{{ company.identification }}</td>
      <td> usuario </td>
    </tr>
  </tbody>
</table>