<form [formGroup]="formEvent">

  <div class="mb-4">
    <label class="form-label">{{ 'Booking.DateTimeReservation' | translate }}</label>
    <div>
      <ul class="nav nav-pills nav-primary">
        <li class="nav-item">
          <a class="nav-link disabled" href="#">{{ dateTimeStart | date:'yyyy - MM - dd' }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">{{ dateTimeStart | date:'h : mm' }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">{{ dateTimeEnd | date:'h : mm' }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="mb-3">
      <label for="CustomerBooking" class="form-label">{{ 'Booking.CustomerBooking' | translate }}</label>
      <lib-browser formControlName="customer" [browserId]="browserId"></lib-browser>
      <div *ngIf="formEvent.controls['customer']?.invalid && formEvent.controls['customer']?.touched" class="text-danger">
        <small *ngIf="formEvent.controls['customer']?.errors?.['required']">{{ 'Validations.FieldRequired' | translate }}</small>
      </div>
  </div>

  <div class="mb-3">
    <label for="Court" class="form-label">{{ 'Court.Court' | translate }}</label>
    <lib-select formControlName="court" [selectId]="selectId"></lib-select>
    <div *ngIf="formEvent.controls['court']?.invalid && formEvent.controls['court']?.touched" class="text-danger">
      <small *ngIf="formEvent.controls['court']?.errors?.['required']">{{ 'Validations.FieldRequired' | translate }}</small>
    </div>
  </div>

  <div class="mb-3">
    <div class="form-check form-switch" title="{{'Tooltip.RecurringBooking' | translate }}">
      <input formControlName="isRecurrent" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" aria-checked="false" />
      <label class="form-check-label" for="flexSwitchCheckDefault">{{ 'Booking.IsRecurringBooking' | translate }}</label>
    </div>
  </div>

  <div class="mb-2">
    <label for="observation">{{ 'Booking.Comment' | translate }}</label>
    <textarea formControlName="observation" class="form-control" id="observation" rows="4"> </textarea>
  </div>

</form>



