<div class="card">
  <div class="card-body">
    <div class="mb-2">
      <label for="Court" class="form-label">{{ 'Court.Court' | translate }}</label>
      <lib-select [selectId]="selectId" (change)="onChangeCourt($event)"></lib-select>
  </div>
  </div>
</div>
<full-calendar [options]="calendarOptions"></full-calendar>

<!-- Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="eventModalLabel">{{ titleModal }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-event 
          [dateTimeStart]="dateTimeStart" 
          [dateTimeEnd]="dateTimeEnd" 
          #appEvent>
        </app-event>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="saveEvent()">{{ 'Button.Save' | translate }}</button>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{{ 'Button.Cancel' | translate }}</button>        
      </div>
    </div>
  </div>
</div>