<div class="card">
  <div class="card-body">
    <div class="mb-2">
      <label for="Court" class="form-label">{{ 'Court.Court' | translate }}</label>
      <lib-select [selectId]="selectId" (change)="onChangeCourt($event)"></lib-select>
  </div>
  </div>
</div>
<full-calendar [options]="calendarOptions" #calendar></full-calendar>

<!-- Modal Reserva -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" #eventModal>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="eventModalLabel">{{ titleModal }}</h1>
        <h2 class="ms-3">{{ courtNameSelected }}</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-event [actionState]="actionState" (onAddCustomer)="onAddCustomer()" #appEvent></app-event>
      </div>
      <div class="modal-footer">
        <button *ngIf="actionState == 1" type="button" class="btn btn-success" (click)="saveEvent()">{{ 'Button.Save' | translate }}</button>
        <button *ngIf="actionState == 3 || actionState == 2" type="button" class="btn btn-success" (click)="updateEvent()">{{ 'Button.Edit' | translate }}</button>
        <button *ngIf="actionState == 3" type="button" class="btn btn-danger" (click)="showEventConfirmModal()">{{ 'Button.Delete' | translate }}</button>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{{ 'Button.Cancel' | translate }}</button>        
      </div>
    </div>
  </div>
</div>

<!-- Modal confirmar eliminado Reserva -->
<div class="modal" tabindex="-1" role="dialog" #eventConfirmModal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
      </div>
      <div class="modal-body">
        <p>{{ 'Booking.ConfirmDeleteBooking' | translate }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="deleteEvent()">{{ 'Button.Yes' | translate }}</button> 
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{{ 'Button.No' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal nuevo cliente -->
<div class="modal" tabindex="-1" role="dialog" #eventAddCustomerModal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'Booking.NewCustomer' | translate }}</h5>
      </div>
      <div class="modal-body">
        <app-new-customer #appNewCustomer></app-new-customer>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="saveCustomer()">{{ 'Button.Save' | translate }}</button> 
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{{ 'Button.Cancel' | translate }}</button>
      </div>
    </div>
  </div>
</div>